body {
  background-color: rgb(220, 236, 236);
  font-family: "Roboto", sans-serif;
  color: hsl(240, 15%, 22%);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}
h4 {
  font-weight: 500;
}

.recipe-link {
  font-size: 18px;
}

article {
  background-color: rgb(181, 204, 204);
}

.home {
  background-color: rgb(181, 204, 204);
}
